.btn_{
    border: 1px solid;
    display: block;
    width: 40%;
    text-align: center;
    background-color: #888a8a;
    color:white;
    line-height: 2.8rem;
    border-radius: 10px;
    margin: 40px auto 30px;
}
.btn_:hover{
    background-color: #666;
    cursor: pointer;
}
.mt-10{
    margin-top: 20px;
}
.pass{
    text-align: center;
}

.btn__ p{
    margin-bottom: 10px;
}
.btn__{
    text-align: center;
    margin: 30px 0;
}

.btn__ a {
    color: #67b5b7;
    font-weight: 600;
}

.btn__ a:hover{
    opacity: .5;
}
.line{
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
}
.image{
    height: 10%;
}
.backtop{
    margin-top: 30px;
    text-align: center;
}
.backtop a:hover{
    opacity: .6;
}

input[type='date']{
    border-radius: 10px;
}

.addbtn{
    padding-bottom: 40px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.edit_box textarea:focus {

    border: 1px solid #67b5b7;
    box-shadow: 0 0 0 1px #67b5b7;
    /* background: white; */
}

.select_inner {
    width: 45%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.select_box {
    display: flex;
    width: 320px;
    height: 320px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #888a8a;
}

.select_font {
    color: #767777;
    font-weight: 700;
}
