body{
    font-size: 17px;
}


/* dashboardのスタイル */
/* .top {
    background-color: white;
    padding: 10% 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.top_btn {
    display: block;
    font-weight: bold;
	padding: 1rem 4rem;
	border: 2px solid #aaa;
	color: #999;
	border-radius: 20px;
	transition: 0.5s;
}
.top_btn:hover {
	color: #fff;
	background: #aaa;
} */
input:focus {
    outline: none;
}

/* indexのスタイル */
.header h1 {
    font-weight: bold;
    color: #666;
}

.table_outer {
    width: 85%;
    margin: 2% auto 3%;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table td,
.table th {
    text-align: center;
    padding: 30px 0;
}

.table th {
    background-color: #9fa0a0;
    /* background-color: #7c8585; */
    /* background-color: #889090; */
    color: white;
    height: 10%;
}
.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

.th_1 {
    width: 15%;
}
.th_2 {
    width: 25%;
}
.th_3 {
    width: 20%;
}
.th_4 {
    width: 10%;
}
.th_5 {
    width: 5%;
}


.addbtn a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    width: 110%;
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    border: 1.5px solid #9fa0a0;
    border-radius: 10px;
    transition: 0.3s;
}
.addbtn {
    width: 10%;
}
.addbtn i {
    color: #888;
}

.addbtn a:hover i {
    color: white;
}

.table_outer tr {
    border-bottom: 1px solid #f2f2f2;
}

.table_outer tr:last-child {
    border-bottom: none;
}


.addbtn a:hover {
color: white;
background-color: #9fa0a0;
}

.add {
    font-size: 18px;
    color: white;
}
.add2 {
    font-size: 23px;
    color: #888;
}
.add2:hover,
.add:hover {
    opacity: .5;
}

.test_count {
    width: 60%;
    margin: 5% auto 0;
    justify-content: space-around;
    margin: 2em auto;
    padding: 2em;
    background: none;
    border: 1.5px solid #aaa ;
    position: relative;
    border-radius: 10px;
}

.test_count:after {
    background-color:#eee;
    border:none;
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.nottask_header {
    line-height: 5rem;
    background-color: rgba(250, 220, 20, .7);
    border-radius: 5px;
}
.nottask_header p {
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    text-decoration: underline;
}

.nottask_header p:hover {
    cursor: pointer;
}

.nottask {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition:  all .4s;
}

.nottask.show {
    visibility: visible;
    height: 100%;
    opacity: 1;
}


.page {
    margin-bottom: 3%;
    text-align: center;
} 

/* deteilのスタイル */
.detail_table {
    width: 60%;
    margin: 2% auto 0;
    border-radius: 10px;
    border: 1px solid #aaa;
    text-align: left;
}
.detail_inner {
    width: 100%;
    table-layout: fixed; 
}
.detail__header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-weight: 800;
    color: #666;
}

.detail_header,
.detail_data {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.detail_header {
    /* background-color: #eee; */
    /* color: white; */
    width: 20%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.detail_inner .detail_border  {
    border-right: 2px double #ccc;
}

.detail_data {
    width: 30%;
    border-bottom: 1px solid #ccc;
}

.detail_inner {
    border-top-left-radius: 9px;
}

.detail_comment {
    width: 100%;
    padding: 1.5rem 0 1.5rem 1.5rem;
    /* background-color: #eee; */
}

.detail__comment {
    width: 100%;
    padding: 0 0 1.5rem 1.5rem;
}

.comment_user {
    font-weight: 600;
    padding-bottom: .3rem;
}
.comment_detail {
    padding-left: 1rem;
    padding-bottom: .5rem;
} 


/* ここまで */
/* .detail tr .indent{
    white-space: pre-line;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 0;
    padding-right: 1%;
    text-align: left;
}

.detail tr .indent_{
    white-space: pre-line;
} */

/* .detail_table {
    width: 50%;
    margin: 2% auto 0;
    border-radius: 10px;
    border: 1px solid #aaa;
} */

/* .detail {
    width: 100%;
    table-layout: fixed;
}
.detail th {
    width: 30%;
    background-color: #9fa0a0; 
    color: white;
    padding: 1.2rem 0;
}
.detail_border {
    border-bottom: 1px solid white;
}
.detail__border {
    border-bottom: 1px solid #eee;
}

.detail td {
    width: 70%;
    text-align: center;
    padding: 1.2rem 0;
    

}
.detail_inner {
    border-top-left-radius: 10px;
}

.detail__inner {
    border-bottom-left-radius: 10px;
}

.detail_back {
    width: 50%;
    margin: 2% auto ;
    padding: 10px 0;
    text-align: center;
    font-size: 1.1rem;
}

.detail_back a:hover {
    color: #666;
}


.detail_header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-weight: 800;
    color: #666;
}

.detail tr .comment_box {
    text-align: left;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-bottom :0;
}
.detail tr .comment_user {
    font-weight: 600;
    padding-bottom: .3rem;
}
.detail tr .comment_detail {
    padding-left: 1rem;
    padding-bottom: .5rem;
} */

/* editのスタイル */

.edit_outer {
    width: 50%;
    margin: 2% auto 10%;
    border: 1px solid #bbb;
    border-radius: 10px;
}
.edit_outer h1 {
    text-align: center;
    font-weight: bold;
    background-color: #9fa0a0;
     /* #889090 */
    color: white;
    padding: 3% 0;
    margin-bottom: 10%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.edit_box {
    width: 60%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
}

.edit_box label {
    font-weight: 700;
    color: #666;
}

.edit_box input,
.edit_box textarea {
    border-radius: 5px;
    margin-top: 2%;
}

.edit_btn {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.edit__btn,
.edit___btn  {
    width: 35%;
    border-radius: 10px;
    text-align: center;
    line-height: 2.7rem;
    margin: 10% 0;
    display: block;
}

.edit__btn {
    border: 1px solid #888;
    color: #444;
    display: block;
}

.edit___btn {
    border: 1px solid #888;
    background-color: #9fa0a0 !important;
    color: white;
}

.edit__btn:hover,
.edit___btn:hover {
    opacity: .7;
}

label i {
    color: #b22222;
}

.edit_box .test_id {
    font-size: 1.2rem;
}

.edit_outer input[name="age"] {
    background-color: #f2f2f2;
}
/* バリデーションのエラーメッセージスタイル */
.error_msg {
    color: red;
    padding-top: 2%;
}

/* 絞り込み検索 */

.search_outer {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 5% auto 0;
}


.search_btn {
    width: 70%;
    margin:0 auto;
}

/* 削除前の検索ボタン */
.search__btn {
    display: block;
    border: 1px solid #67b5b7;
    border-radius: 10px;
    padding: 1%;
    margin: 5% auto 0;
    width: 20%;
    background-color: #69a5a1;
    font-weight: 600;
}

.search__btn:hover {
    background-color: #599591;
}


.search_btn i {
    padding-right: 5px;
}

.search_btn i,
.search__btn,
.search____btn {
    color: white;
}

.search____btn {
    background-color:#69a5a1;
    border: 1px solid #67b5b7;
    font-weight: 600;
}

.search____btn:hover {
    background-color: #599591;
}

.search_text {
    text-align: center;
}

.search_outer label {
    color: #555;
}

.search_outer div:last-child {
    width: 30%;  
}

.search_outer input[name="site"] {
    width: 100%; 
}

.search___btn {
    color: #599591;
    font-weight: 600;
    border: 1.5px solid #599591;
}

.search___btn,
.search____btn {
    display: block;
    width: 20%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    margin: 5% 3% 1%;
}

.pt {
    padding-top: 5%;
}

.statistic_font {
    color: #555;
}
/* .search_word {
    width: 70%;
    margin: 0 auto;
}

.search_word p {
    margin: 2% 0 1%;
}
.search__word p{
    margin: 1% 3% 1% 1%;
} */

/* .avg {
    width: 70%;
    margin: 0 auto;
}
.avg p{
    margin-top: 2%;
    margin-left: 1%;
} */

/* 試験結果登録 */
.edit_box .indent_ {
    white-space: pre-line;
}

.edit_box .comment_user {
    font-weight: 600;
    padding-left: .3rem;
    padding-bottom: .3rem;
}

.edit_box .comment_detail {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

/* 設定画面 */

    /* ナビゲーション */
.set_nuv {
    width: 100%;
    background-color: #f5f5f5;
}

.nav_list {
    width: calc(100% / 4);
    /* height: 65px; */
    line-height: 80px;
    position: relative;
    transition: all .3s;
    text-align: center;
}

.nav_list:not(:first-child) {
    border-left: 1px solid white;
}

.nav_list:hover {
    background-color: #69a5a1;
    color: white;
    font-weight: 700;
}
.nav_list:hover i {
    color: white;
    /* transform: translateX(-2px); */
}

.nav_list.active {
    background-color: #69a5a1;
    color: white;
    font-weight: 700;
}
.nav_list.active i {
    background-color: #69a5a1;
    /* #67b5b7 */
    color: white;
    font-weight: 700;
    /* transform: translateX(2px); */
}


    /*部署登録*/
.depart_register {
    width: 30%;
    margin: 5% auto 0;
    justify-content: space-around;
    align-items: end;
}

.depart_btn {
    text-align: bottom;
}

    /* admin登録 */
.admin_register {
    width: 30%;
    margin: 0 auto;
}
.admin_btn {
    margin-top: 1rem;
    text-align: center;
}

.admin_input {
    width: 100%;
}
    /* 一覧画面 */

.log_outer {
    width: 60%;
    margin: 5% auto 0;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 5%;
}

.log_outer table {
    width: 100%;
}
.log_outer .description {
    white-space: pre-line;
    text-align: left;
}

.log_outer th,
.log_outer td {
    padding: 1.5rem;
}

.log_outer tr {
    border-bottom: 1px solid #f5f5f5;
}

.log_outer tr:last-child {
    border-bottom: none;
}

.log_outer th {
    background-color: #9fa0a0;
    color: white;
    height: 10%;
}
.log_outer th:first-child {
    border-top-left-radius: 9px;
}

.log_outer th:last-child {
    border-top-right-radius: 9px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.edit_box textarea:focus {

    border: 1px solid #67b5b7;
    box-shadow: 0 0 0 2px #67b5b7;
    /* background: white; */
}
input[type="text"]:required:valid,
input[type="date"]:required:valid,
input[type="email"]:required:valid,
input[type="password"]:required:valid,
.edit_box textarea:required:valid {
    background-color: white;
}
