
/* dashboardのスタイル */
.top {
    background-color: white;
    padding: 10% 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.top_btn {
    display: block;
    font-weight: bold;
	padding: 1rem 4rem;
	border: 2px solid #aaa;
	color: #999;
	border-radius: 20px;
	transition: 0.5s;
}
.top_btn:hover {
	color: #fff;
	background: #aaa;
}


/* schedule.indexのスタイル */
.header h1 {
    font-weight: bold;
}

.table_outer {
    width: 85%;
    margin: 2% auto 3%;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table td,
.table th {
    text-align: center;
    padding: 30px 0;
}

.table th {
    background-color: #bbb;
    color: white;
    height: 10%;
}
.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table .th_1 {
    width: 15%;
}
.table .th_2 {
    width: 25%;
}
.table .th_3 {
    width: 20%;
}
.table .th_4 {
    width: 10%;
}

.addbtn a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    width: 110%;
    color: #666;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #888;
    border-radius: 10px;
}
.addbtn {
    width: 10%;
}
.addbtn i {
    color: #666;
}

.addbtn a:hover i {
    color: white;
}

/* .addbtn a::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 3px solid #666;
    border-right: 3px solid #666;
    transform: rotate(45deg);
} */

.addbtn a:hover {
color: white;
background-color: #aaa;
border: 2px solid #aaa;
}

/* .addbtn a:hover::after {
border-top: 3px solid white;
border-right: 3px solid white;
} */



.add {
    font-size: 25px;
    color: white;
}
.add2 {
    font-size: 23px;
    color: #888;
}
.add2:hover,
.add:hover {
    opacity: .5;
}

.test_count {
    width: 80%;
    margin: 5% auto 0;
}

.nottask_header {
    line-height: 5rem;
    background-color: rgba(250, 220, 20, .7);
    border-radius: 5px;
}
.nottask_header p {
    width: 80%;
    margin: 0 auto;
    padding-left: 5%;
    text-decoration: underline;
}

.nottask_header p:hover {
    cursor: pointer;
}

.nottask {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition:  all .4s;
}

.nottask.show {
    visibility: visible;
    height: 100%;
    opacity: 1;
}


.page {
    margin-bottom: 3%;
    text-align: center;
} 

/* deteilのスタイル */
.detail tr .indent{
    white-space: pre-line;
    height: 100%;
    vertical-align: middle;
    padding-bottom: 0;
    padding-right: 1%;
    text-align: left;
    /* padding-left: 2em;
    text-indent: -1em; */
}

.detail tr .indent_{
    white-space: pre-line;
}

.detail_table {
    width: 50%;
    margin: 2% auto 0;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.detail {
    width: 100%;
    table-layout: fixed;
}
.detail th {
    width: 30%;
    background-color: #bbb; 
    color: white;
    padding: 1.2rem 0;
}
.detail_border {
    border-bottom: 1px solid white;
}
.detail__border {
    border-bottom: 1px solid #eee;
}

.detail td {
    width: 70%;
    text-align: center;
    padding: 1.2rem 0;
    

}
.detail_inner {
    border-top-left-radius: 10px;
}

.detail__inner {
    border-bottom-left-radius: 10px;
}

.detail_back {
    width: 50%;
    margin: 2% auto ;
    padding: 10px 0;
    text-align: center;
    font-size: 1.1rem;
}

.detail_back a:hover {
    color: #666;
}

/* .detail_header {
    padding-left: 20%;
}

.pdf {
    width: 50%;
    margin: 2% auto 0;
    text-align: end;
}

.pdf i {
    font-size: 1.5rem;
    color: #444;
} */

.detail_header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-weight: 800;
    color: #666;
}

.detail tr .comment_box {
    text-align: left;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-bottom :0;
}
.detail tr .comment_user {
    font-weight: 600;
    padding-bottom: .3rem;
}
.detail tr .comment_detail {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

/* editのスタイル */

.edit_outer {
    width: 50%;
    margin: 2% auto 10%;
    border: 1px solid #bbb;
    border-radius: 10px;
}
.edit_outer h1 {
    text-align: center;
    font-weight: bold;
    background-color: #bbb;
    color: white;
    padding: 3% 0;
    margin-bottom: 10%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.edit_box {
    width: 60%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
}

.edit_box label {
    font-weight: 700;
    color: #666;
}

.edit_box input,
.edit_box textarea {
    border-radius: 5px;
    margin-top: 2%;
}

.edit_btn {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.edit__btn,
.edit___btn  {
    width: 35%;
    border-radius: 10px;
    text-align: center;
    line-height: 2.7rem;
    margin: 10% 0;
    display: block;
}

.edit__btn {
    border: 1px solid #888;
    color: #444;
    display: block;
}

.edit___btn {
    border: 1px solid #888;
    background-color: #aaa !important;
    color: white;
}

.edit__btn:hover,
.edit___btn:hover {
    opacity: .7;
}

label i {
    color: #b22222;
}

.edit_box .test_id {
    font-size: 1.2rem;
}
/* バリデーションのエラーメッセージスタイル */
.error_msg {
    color: red;
    padding-top: 2%;
}

/* 絞り込み検索 */

.search_outer {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 5% auto 0;
}


.search_btn {
    width: 70%;
    margin:0 auto;
}

.search__btn {
    display: block;
    border: 1px solid;
    border-radius: 10px;
    padding: 1%;
    margin: 5% auto 0;
    width: 20%;
}

.search_btn i {
    color: #888;
    padding-right: 5px;
}

.search_text {
    text-align: center;
}

.searct___btn {
    display: block;
    width: 20%;
    padding: 1%;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    margin: 5% 3% 1%;
}

.pt {
    padding-top: 5%;
}

.search_word {
    width: 70%;
    margin: 0 auto;
}

.search_word p {
    margin: 2% 0 1%;
}
.search__word p{
    margin: 1% 3% 1% 1%;
}

.avg {
    width: 70%;
    margin: 0 auto;
}
.avg p{
    margin-top: 2%;
    margin-left: 1%;
}

/* 試験結果登録 */
.edit_box .indent_ {
    white-space: pre-line;
}
