/* pdf */
.header_pdf h1 {
    text-align: center;
}
.header_pdf p {
    text-align: right;
    margin-top: 50px;
}

th {
    width: 250px;
    font-weight: bold;
    padding: 30px 0;
    border-right: 1px solid #aaa;
}

td {
    width: 450px;
    text-align: center;
    border-left: 1px solid #aaa;
}

.table_pdf {
    margin-top: 100px;
    border: 1px solid #aaa;
}

.pdf_border {
    border-bottom: 1px solid #aaa;
}